input {
    border-radius: 5px;
    background-color: white;
    padding: 2px 10px;
    font-size: 16px;
}

#courses_table {
    max-width: 450px;
}

#table_container {
    display: flex;
    justify-content: center;
}